.button{
    width: 3em;
    height: 3em;
    background-color: blueviolet;
    border: none;
    border-radius: 2em;
    margin: 5px;
    color: black;
    font-size: 17px;
}
.button:hover{
    cursor: pointer;
    background-color: green;
}
.button:focus {
    outline: none;
}
.orange{
    background-color: orange;
    color: white;
}